.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout-background {
  background: rgb(61, 98, 119);
}
.site-layout {
  background: rgb(136, 150, 165);
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #1e263d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}

.multiform {
  justify-content: right;
  align-items: right;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.multiform-tittle {
  font-size: 40px;
  padding: 40px;
}

.multiform-container {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-device-width: 575px) {
  .multiform-textarea {
    min-width: 500px;
  }

  .ant-form-large .ant-form-item-label > label {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .multiform-tittle {
    font-size: 100px;
    padding: 40px;
  }

  .ant-menu {
    font-size: 25px;
  }

  .ant-input-lg {
    font-size: 40px;
  }

  .ant-btn {
    font-size: 40px;
    height: fit-content;
  }

  .ant-modal-title {
    font-size: 50px;
  }

  .multiform-modal-text {
    font-size: 50px;
  }
}

@media (max-width: 1100px) and (min-width: 575px) {
  .multiform-textarea {
    min-width: 500px;
  }
}

@media (min-width: 1100px) {
  .multiform-textarea {
    min-width: 800px;
  }
}
